
.profile{
    
    background:rgb(104, 70, 255);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    
}


.profile-user{
    display: flex;

    align-items: center;
}
.profile-user img {
    width: 80px;
    height: 80px;
    border-radius:50% ;
}
.name-address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.address{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 400;
}

.profile-credentials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(126, 98, 252);
    border-radius: 20px;
}
small{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.466);
}

@media screen and (max-width:576px){
   .profile{
    padding: 2px;
   }
    
}
@media screen and (min-width:577px) and (max-width:992px) {
    .profile{
        padding: 10px;
       }
}