
.home-container{
    padding: 10px;
}
.home-container h4{
    margin: 50px;

}
.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.exercises-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}